---
services:

  graph:
    build:
      context: .
      dockerfile: Dockerfile
    image: informaticsmatters/fragnet-test:4.4.37-hash
    container_name: fragnet-test
    ports:
    - "7474:7474"
    - "7687:7687"
    volumes:
    - ./data:/data
    - ./logs:/logs
